<section id="features" class="section-features">
    <div class="container">
        <h3 class="sr-only">{{ page.header.title }}</h3>
        <div class="bg-inverse">
            {% for row in page.header.features|batch(2) %}
                {% for features in row %}
                    <div class="row">
                        {% if features.image %}
                            <div class="{% if loop.first %}col-md-6 p-r-0{% else %}col-md-6 col-md-push-6 p-l-0{% endif %}">
                                <figure class="has-light-mask m-b-0 image-effect">
                                    <img src="{{ page.media[features.image].url }}" alt="Article thumbnail"
                                         class="img-responsive img-show">
                                </figure>
                            </div>
                        {% endif %}
                        <div class="{% if loop.first %}col-md-6 p-l-0{% else %}col-md-6 col-md-pull-6 p-r-0{% endif %}">
                            <article class="center-block">
                                {% if features.label %}
                                    <span class="label label-info">{{ features.label }}</span>
                                    <br>
                                {% endif %}
                                {% if features.title %}
                                    <h5>{{ features.title }}</h5>
                                {% endif %}
                                <p class="m-b-0">
                                    {% if features.tags %}
                                        <span class="label label-default text-uppercase"><span
                                                    class="icon-tag"></span>{{ features.tags|join(' | ') }}</span>
                                    {% endif %}
                                    {% if features.time %}
                                        <span class="label label-default text-uppercase"><span
                                                    class="icon-time"></span> {{ features.time }}</span>
                                    {% endif %}
                                </p>
                            </article>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>
