<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
        {% include 'partials/metadata.html.twig' %}

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        {% if page.header.header_image %}
            {% set og_image = site_url ~  page.media.images[page.header.header_image].cache.url() %}
        {% elseif page.media.images|length > 0 %}
            {% set og_image = site_url ~  page.media.images|first.cache.url() %}
        {% else %}
            {% set og_image = '' %}
        {% endif %}

        <meta property="og:url" content="{{ page.url(true) }}"/>
        <meta property="og:title" content="{{ page.title|e('html_attr') }}"/>
        <meta property="og:description" content="{{ page.header.metadata.description|e('html_attr') }}"/>

        {% if og_image is not empty %}
            <meta property="og:image" content="{{ og_image }}"/>
        {% endif %}

        {% include 'partials/header-favicon.html.twig' %}

        {% block stylesheets %}
            {% do assets.addCss('theme://css/animate.min.css') %}
            {% do assets.addCss('theme://css/icomoon.min.css') %}
            {% do assets.addCss('theme://css/landio.min.css') %}
            {% do assets.addCss('theme://css/magnific-popup.min.css') %}
            {% do assets.addCss('theme://css/syspass.min.css') %}
        {% endblock %}

        {{ assets.css() }}

        {% block javascripts %}
            {% do assets.add('jquery',101) %}
        {% endblock %}

        {{ assets.js() }}

    {% endblock head %}
</head>
<body>
<span id="totop"></span>

{% block navigation %}
    {% include 'partials/navigation.html.twig' %}
{% endblock %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block body %}
    {% block content %}{% endblock %}
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}

{% block body_js %}
    <script src="{{ url('theme://js/bootstrap/util.min.js') }}" type="text/javascript"></script>
    <script src="{{ url('theme://js/bootstrap/carousel.min.js') }}" type="text/javascript"></script>
    <script src="{{ url('theme://js/bootstrap/collapse.min.js') }}" type="text/javascript"></script>
    <script src="{{ url('theme://js/bootstrap/dropdown.min.js') }}" type="text/javascript"></script>
    <script src="{{ url('theme://js/bootstrap/modal.min.js') }}" type="text/javascript"></script>
    <script src="{{ url('theme://js/plugins/jquery.waypoints.min.js') }}" type="text/javascript"></script>
    <script src="{{ url('theme://js/plugins/jquery.placeholder.min.js') }}" type="text/javascript"></script>
    <script src="{{ url('theme://js/plugins/video.min.js') }}" type="text/javascript"></script>
    <script src="{{ url('theme://js/landio.min.js') }}" type="text/javascript"></script>
    <script src="{{ url('theme://js/plugins/jquery.magnific-popup.min.js') }}" type="text/javascript"></script>
    <script src="{{ url('theme://js/syspass.min.js') }}" type="text/javascript"></script>

    {% if browser.getBrowser == 'msie' and browser.getVersion < 9 %}
        {% do assets.addJs('https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js') %}
        {% do assets.addJs('https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js') %}
    {% endif %}
{% endblock %}
</body>
</html>
